.LoginPage {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-direction: column;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 13px;
    width: 280px;
}

.LoginForm input {
    display: inline-block;
    width: 155px;
    height: 18px;
}

.password-row {
    display: flex;
    align-items: center;
    gap: 3px;
}

.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 23px;
    cursor: pointer;
}

.registerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 23px;
    cursor: pointer;
}
