.RegisterPage {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-direction: column;
}

.RegisterForm {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 13px;
    width: 260px;
}

.RegisterForm input {
    display: inline-block;
    width: 155px;
    height: 18px;
}

.password-row {
    display: flex;
    align-items: center;
    gap: 3px;
}

.RegisterForm button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 23px;
    cursor: pointer;
}
